.header {
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 50;
    transition: all 0.3s;
  }
  
  .collapsed {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .link {
    color: #bfc8d3;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .link:hover {
    color: #4299e1;
  }
  