
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* globals.css */
.pastel-blue {
  background-color: #add8e6;
}

.eggshell-white {
  background-color: #efecce;
}

.w-85 {
  width: 85%;
  min-height: 400px;
}

.grecaptcha-badge {
  left: auto !important;
  right: 20px !important;
}


/* Add any additional global styles you need */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

